.section{
  &--article,&--page{
    .pure-g{
      @include rem-fallback(max-width, 995);
    }

    background-color: $color__grey--background;

    font-family: 'CooperHewitt-Book';

    .section--article--content,.section--page--content{
      letter-spacing:0;
      background-color: $color__white;

      .section--article--content-wrapper,.section--page--content-wrapper{
        @include rem-fallback(padding,55,180,65,180);
      }
    }

    hr{
      @include rem-fallback(margin-top,10);
      @include rem-fallback(margin-bottom,10);
      border: 2px solid #F3F4F8;
    }

    .blogtags{
      @include rem-fallback(margin-top,10);
      @include rem-fallback(margin-bottom,25);

      a{
        font-family: 'CooperHewitt-Book';
        @include rem-fallback(font-size,18);
        color:#303030;

        &:hover,&:active{
          color:$color__pink;
        }

      }
    }

    .date{
      font-family: 'CooperHewitt-Book';
      @include rem-fallback(font-size,18);
      color: rgba(48,48,48,0.5);
    }

    h1,h2,h3,h4,h5,h6{
      @include rem-fallback(margin,60,0,15,0);
      text-align: left;
      font-family: 'CooperHewitt-Book';
      color: #4A4A4A;
    }

    h1{
      @include rem-fallback(margin,15,0,15,0);
      @include rem-fallback(font-size,46);
    }

    h2{
      @include rem-fallback(font-size,34);
    }

    h3{
      @include rem-fallback(font-size,24);
    }

    h4,h5,h6{
      @include rem-fallback(font-size,18);
    }

    img{
      max-width: 100%;
      height:auto;
      @include rem-fallback(margin,5,0,20,0);
    }

  }

  &--page {
    h1,h2,h3{
      text-align: center;

    }

    img.alignnone{
      display:block;
      margin-left:auto;
      margin-right:auto;
      //text-align: center;
    }
  }
}

@media only screen and (max-width: 767px) {

  .section{
    &--article,&--page{
      .pure-g {
        @include rem-fallback(padding-left,0);
        @include rem-fallback(padding-right,0);
      }

      @include rem-fallback(padding-top,50);
      .section--article--content .section--article--content-wrapper,.section--page--content .section--page--content-wrapper{
        @include rem-fallback(padding,50,60,100,60);
      }
    }
  }

}





@media only screen and (max-width: 567px) {

  .section {
    &--article {
      @include rem-fallback(padding, 0);
    }
    &--page {
      @include rem-fallback(padding, 4,0,0,0);
    }


    &--article,&--page{

      .section--article--content .section--article--content-wrapper,.section--page--content .section--page--content-wrapper{
        @include rem-fallback(padding,25,30,50,30);
      }
      .date{
        @include rem-fallback(font-size,15);
      }
      h1,h2,h3,h4,h5,h6{
        @include rem-fallback(margin,30,0,10,0);
      }

      h1{
        @include rem-fallback(font-size,30);
      }

      .blogtags{
        @include rem-fallback(margin-top,10);
        @include rem-fallback(margin-bottom,10);
        a{
          @include rem-fallback(font-size,15);
        }
      }

      h2{
        @include rem-fallback(font-size,24);
      }

      h3{
        @include rem-fallback(font-size,18);
      }

      h4,h5,h6{
        @include rem-fallback(font-size,17);
      }

      p{
        @include rem-fallback(font-size,17);
        @include rem-fallback(line-height,24);
      }
    }
  }
}
