.section{
  &--article,&--page{
    .pure-g{
      @include rem-fallback(max-width, 995);
    }

    background-color: $color__grey--background;

    font-family: 'CooperHewitt-Book';

    hr{
      @include rem-fallback(margin-top,10);
      @include rem-fallback(margin-bottom,10);
      border: 2px solid #F3F4F8;
    }

    .section--article--content,.section--page--content{
      letter-spacing:0;
      background-color: $color__white;

      .section--article--content-wrapper,.section--page--content-wrapper{
        @include rem-fallback(padding,55,180,65,180);

      }
      .section--page--content-wrapper{
        hr{
          @include rem-fallback(margin-top,70);
          @include rem-fallback(margin-bottom,70);
        }
      }
    }



    .blogtags{
      @include rem-fallback(margin-top,10);
      @include rem-fallback(margin-bottom,25);
      .icon-location,.icon-tags{
        @include rem-fallback(margin-right,15);
      }
      a{
        font-family: 'CooperHewitt-Book';
        @include rem-fallback(font-size,18);
        color:#303030;

        &:hover,&:active{
          color:$color__pink;
        }

      }
    }

    .date{
      font-family: 'CooperHewitt-Book';
      @include rem-fallback(font-size,18);
      color: rgba(48,48,48,0.5);
    }

    h1,h2,h3,h4,h5,h6{
      @include rem-fallback(margin,60,0,15,0);
      text-align: left;
      font-family: 'CooperHewitt-Book';
      color: #4A4A4A;
    }

    h1{
      @include rem-fallback(margin,15,0,15,0);
      @include rem-fallback(font-size,46);
    }

    h2{
      @include rem-fallback(margin,65,0,15,0);
      @include rem-fallback(font-size,34);
    }

    h3{
       @include rem-fallback(margin,30,0,15,0);
       @include rem-fallback(font-size,24);
     }

    .section--page--content .section--page--content-wrapper{
      h3 {
        @include rem-fallback(margin, 30, 0, 45, 0);
      }
    }


    h4,h5,h6{
      @include rem-fallback(font-size,18);
    }

    img{
      max-width: 100%;
      height:auto;
      @include rem-fallback(margin,5,0,20,0);
    }

    ul{
      list-style-type: none;
      padding:0px;
      margin:0px;
    }
    ul li{
      background-image: url(images/square.gif);
      background-repeat: no-repeat;
      background-position: 0px 12px; //center;
      @include rem-fallback(padding-left,30);
    }



    .share-buttons{
      font-family: $text__family--sans-serif;
      @include rem-fallback(font-size,24);
      @include rem-fallback(line-height,46);
      color:$color__pink;
      @include rem-fallback(margin-top,25);



      .social-facebook{
        background-color: #3B5998;
      }
      .social-twitter{
        background-color: #55acee;
      }
      .social-gplus{
        background-color: #dd4b39;
      }
      .social-linkedin{
        background-color: #0077b5;
      }

      .social-facebook,.social-twitter,.social-gplus,.social-linkedin{
        @include rem-fallback(border-radius,25);
        @include rem-fallback(padding,12,6,10,6);
        @include rem-fallback(margin-left,10);
        &:hover,&:active{
          background-color: $color__pink;
        }
      }

      i{
        color:$color__white;
      }

    }

  }

  &--page {
    h1,h2,h3{
      text-align: center;

    }

    img.alignnone{
      display:block;
      margin-left:auto;
      margin-right:auto;
      //text-align: center;
    }
  }
}

@media only screen and (max-width: 1023px) {

  .section{
    &--article,&--page{
      .pure-g {
        @include rem-fallback(padding-left,0);
        @include rem-fallback(padding-right,0);
      }

      @include rem-fallback(padding-top,50);
      .section--article--content .section--article--content-wrapper,.section--page--content .section--page--content-wrapper{
        @include rem-fallback(padding,50,60,100,60);
      }
    }
  }

}





@media only screen and (max-width: 567px) {

  .section {
    &--article {
      @include rem-fallback(padding, 0);
    }
    &--page {
      @include rem-fallback(padding, 4,0,0,0);
    }


    &--article,&--page{

      .section--article--content .section--article--content-wrapper,.section--page--content .section--page--content-wrapper{
        @include rem-fallback(padding,25,30,50,30);
      }
      .date{
        @include rem-fallback(font-size,15);
      }
      h1,h2,h3,h4,h5,h6{
        @include rem-fallback(margin,30,0,10,0);
      }

      h1{
        @include rem-fallback(font-size,30);
      }

      .blogtags{
        @include rem-fallback(margin-top,10);
        @include rem-fallback(margin-bottom,10);
        a{
          @include rem-fallback(font-size,15);
        }
      }

      h2{
        @include rem-fallback(font-size,24);
      }

      h3{
        @include rem-fallback(font-size,18);
      }

      h4,h5,h6{
        @include rem-fallback(font-size,17);
      }

      p{
        @include rem-fallback(font-size,17);
        @include rem-fallback(line-height,24);
      }
    }
  }
}
