
// Feature card
.feature {

  //TODO: responsive
  height: 442px;
  max-height: 442px;

  overflow: hidden;
  background-color: $color__white;

  //allows the __image to be absolutely positioned within parent
  position: relative;
  @include rem-fallback(margin, 0, 5);

  &__meta {
    @include rem-fallback(font-size, 14);
    @include rem-fallback(padding, 30);
    color: $color__grey--mid;
    a {
      color: $color__pink;
      &:hover, &:active {
        text-decoration: underline;
      }
    }
    .date {
      @include rem-fallback(padding-right, 8);
    }
  }



  &__description {
    display: block;
    color: $color__grey--title;
    @include rem-fallback(font-size, 24);
    @include rem-fallback(padding, 0, 30);

  }



  &__wrapper{
    display:block;
    padding-bottom: 312px;
    &:hover, &:active {
    .feature__description{

        color: $color__pink;
      }
    }
  }

//  &__image-wrapper{
//
//  }
  &__image {
    position: absolute;
    bottom: 0;
    max-height:150px;
    overflow:hidden;

  img{
    display:block;
    width: auto\9;
    width:100%;
    max-width: 100%;
    height:auto !important;

    -ms-interpolation-mode:bicubic;


  }


  }

  .flip {
    //-webkit-transform: rotate(180deg);
    //-moz-transform:    rotate(180deg);
    //-ms-transform:     rotate(180deg);
    //-o-transform:      rotate(180deg);
    //transform:         rotate(180deg);
    /* needed? not sure */
    //zoom: 1;
  }

  img.flip {
    /* if native or declared width of img.scale
       is less than div.crop-height, this will
       flipped img left */

    /* add clearfix if needed */
  }



}




.icon-location,.icon-tags{
  background-repeat: no-repeat;
  padding-left: 18px;  /* width of the image plus a little extra padding */
  //display: iblock;  /* may not need this, but I've found I do */
}
.icon-location{
  padding-left: 15px;
  background-image: url("images/pin.png") !important;
  background-size: 10px 15px;
 // width: 10px;
 // height: 16px;
}
.icon-tags{
  background-image: url("images/tag.png") !important;
  background-size: 15px 15px;
}



.section{
  //TODO: responsive - remove 4th article (:last-child) < large
  &--blog {

    .pure-g {
      @include rem-fallback(padding-left, 0);
      @include rem-fallback(padding-right, 0);
    }

    //@include rem-fallback(min-height,491);

    background-color: $color__grey--background;

    .button {
      @include rem-fallback(margin, 0, 5);
    }

    .feature{
      @include rem-fallback(margin-bottom, 30);
      .feature__meta{
        @include rem-fallback(padding-bottom, 20);
      }
    }

    .tagged-posts-wrapper{
      @include rem-fallback(min-height,500);
//      content:" ";
    }

  }
  .blog-large.home{
    width:100%;
  }
}


// Owl Carousel for featured blog posts on the home page
#owl-demo{
  display:none !important;
}

.owl-theme .owl-page.active{
  span{
    background: $color__pink;
  }
}


@media only screen and (max-width: 1023px) {
  .blog-large.home{
    .item:nth-of-type(1n+3) {
      display:none;
    }
  }
}


@media only screen and (max-width: 567px) {

  .blog-large {
    display: none;
  }
  #owl-demo {
    display: block !important;
  }
}