.button-pair__left {
  box-sizing: border-box;
  padding-right: 5px;

  @media only screen and (max-width: 567px) {
    padding-right: 0;
  }
}

.button-pair__right {
  box-sizing: border-box;
  padding-left: 5px;

  @media only screen and (max-width: 567px) {
    padding-left: 0;
    @include rem-fallback(padding-top, 5);
  }
}

.button-pair__button {
  display: block;
  @include rem-fallback(padding, 15, 10, 10, 10);
}

.button-pair__single {
  // This is a hack for when we need a button that looks the same as one half
  // of a pair — but is actually on its own. Terrible hack I know.
  width: 50%;
  display: inline-block;

  @media only screen and (max-width: 567px) {
    width: 100%;
  }

  .button-pair__button {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
  }
}
