.button, button{
  color: $color__white;
  background-color: transparent;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-family: $text__family--sans-serif--medium;
  @include rem-fallback(font-size, $text__small);
  @include rem-fallback(padding, 15, 40, 10, 40);
  &:active {
    outline: none;
  }

  &:hover, &:active{
    background-color: $color__white;
    color: $color__pink;
  }

  &--bordered {
    border: 2px solid $color__white;
  }

  &--full {
    display: block;
  }

  &--internal {
    color: $color__pink;
    background-color: $color__white;
  }

  &--external {
    background-color: $color__pink;

  }
  &--internal, &--external {
    &:hover, &:active{
      background-color: $color__black;
      color: $color__white;
    }
  }

}