.section {

  &--jumbo {
    background-color: $color__grey--background;

    @include rem-fallback(padding-top, 0);
    @include rem-fallback(padding-bottom, 0);

    .jumbo-image-wrapper{
      position:relative;
//     // position:absolute;
      height: 300px;
//      overflow: hidden;
//

//      text-align:center;




      img {
      width:100%;
        height:auto;

        overflow:auto;
        margin:auto;
        position:absolute;
        top:0;left:0;bottom:0;right:0;
//        display:block;
//        position:absolute; //relative;
//
//
//        width: 100%;
//        height: auto;


        // left:50%;
       // left:0;
       // right:0;
       // bottom:0;
       // top:0;

        //max-height:100%;
        //margin-top:-50%;
         //300px;
       //top: 50%;
      //  margin-top: -150px;
//        left: 50%;
//        -webkit-transform: translate(-50%, -50%);
//        -moz-transform: translate(-50%, -50%);
//        -ms-transform: translate(-50%, -50%);
//        -o-transform: translate(-50%, -50%);
//        transform: translate(-50%, -50%);

      }
    }

  }


  &--city{
    background-color: $color__white;
  }

  &--city-subtitle{
    h2{

    }
  }

}