.section--faqs {
  background-color: $color__grey--background;
  padding-top: 0;
  @include rem-fallback(padding-bottom, 240);

  .pure-g{
    @include rem-fallback(max-width, 995);
  }
}

.faq-group__heading {
  color: $color__grey--title;
  @include rem-fallback(margin-top, 84);
  @include rem-fallback(margin-bottom, 72);
}

.faq {
  background: $color__white;
  @include rem-fallback(margin-bottom, 4);
  border-radius: 12px;
}

.faq__header {
  @include rem-fallback(padding, 22, 24, 14, 24);
  cursor: pointer;
}

.faq__question {
  display: inline-block;
  color: $color__pink;
  @include rem-fallback(font-size, $text__small);
  margin: 0;

  max-width: 90%;
  max-width: calc(100% - 30px);
}

.faq__answer {
  @include rem-fallback(margin-top, 36);
  @include rem-fallback(padding, 0, 180, 24, 180);
  @include rem-fallback(font-size, $text__small);

  @media only screen and (max-width: 1023px) {
    @include rem-fallback(padding, 0, 24, 24, 24);
  }
}

.faq__toggle-icon {
  position: relative;
  width: 24px;
  height: 24px;
  float: right;
  padding: 0;
  border: 0;
  outline-width: 0;

  &:active, &:focus {
    outline-width: 4px;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    top: 4px;
    width: 18px;
    height: 5px;
    background-color: $color__pink;
    transition: all 0.2s;
  }

  &:before {
    left: -2px;
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
  }

  &:after {
    left: 7px;
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
  }

  .faq.is-open & {
    &:before {
      left: 0;
      width: 24px;
    }

    &:after {
      left: 0;
      width: 24px;
    }
  }
}

.faq__content {
  outline: 0;
}

.is-open .sr-open { display: none; }
.sr-close { display: none; }
.is-open .sr-close { display: inline; }
