.section{

  &--filter {
    border-top: 2px solid #F3F4F8;
    text-align: center;

    @include rem-fallback(padding-top,25);
    @include rem-fallback(padding-bottom,10);

    #filter-menu-button{
      border:none;
      background:transparent;
      @include rem-fallback(font-size,18);
      font-family: $text__family--sans-serif--medium;
      color:#7E7E7E;
      text-transform: uppercase;
      &:hover{
        color: $color__black;
      }
    }
    #filter-menu-button:focus{
      outline:0;
    }

    #filter-menu{

      max-height:0;
      overflow: hidden;
      transition: max-height 0.15s ease-out;

      .post-tags {

        width:100%;
//        columns: 2;
//        -webkit-columns: 2;
//        -moz-columns: 2;
        @include rem-fallback(padding-bottom,30);

        a {
          display: inline-block;
          @include rem-fallback(font-size, 18);
          font-family: $text__family--sans-serif--medium;
          color: #7E7E7E;
          text-transform: uppercase;
          @include rem-fallback(padding, 15,30,10,30);
          @include rem-fallback(margin,5);

          border: 1px solid #D0D0D0;

          &:hover{
            color:$color__black;
            border: 1px solid $color__black;
          }
          &.highlight{
            color:$color__pink;
            border: 1px solid $color__pink;
          }
        }
      }
    }
    #filter-menu.active{

      transition-delay:0s;
      max-height:1000px;
      transition: max-height 0.25s ease-in;


    }

  }

}


#filter-menu-button.active::after {
  content:"";
  display:inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: none;
  border-bottom: 7px solid #7E7E7E;
  @include rem-fallback(margin,4,9,4,9);
}

#filter-menu-button::after{ //down
  content:"";
  display:inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: none;
  border-top: 7px solid #7E7E7E;
  @include rem-fallback(margin,4,9,4,9);
}


@media only screen and (max-width: 767px) {


  .section {
    &--filter {
      #filter-menu{
        .post-tags{
          columns: 1;
          -webkit-columns: 1;
          -moz-columns: 1;
        }
      }

    }
  }

}