.finished-tool {
  @include rem-fallback(max-width, 995);
  margin: 0 auto;
  @include rem-fallback(padding-top, 120);
  @include rem-fallback(padding-bottom, 120);
}

.finished-tool__heading {
  @include rem-fallback(font-size, $text__mlarge);
  margin-top: 0;
  width: 50%;
}

.finished-tool__description {
  width: 50%;
}

.finished-tool__graphic-wrapper {
  width: 50%;
  float: right;
  @include rem-fallback(margin-top, 24);
  text-align: center;
}

.finished-tool__actions {
  width: 50%;
  margin-left: 0;
}

.finished-tool__background {
  &:nth-child(odd) {
    background: $color__grey--background;

    .finished-tool__heading, .finished-tool__actions, .finished-tool__description {
      text-align: left;
    }

    .finished-tool__graphic-wrapper {
      float: right;
    }
  }

  &:nth-child(even) {
    background: $color__white;

    .finished-tool__heading, .finished-tool__actions, .finished-tool__description {
      text-align: right;
      float: right;
    }

    .finished-tool__graphic-wrapper {
      float: left;
    }
  }
}
