
header {
  background-color: $color__pink;
  // .header-bar{
  //   background-color: $color__pink;
  // }
  //display:inline-block;

  .header-bar{
    @include rem-fallback(padding,15,90,90,90);
  }

  //site logo
  img.logo {
    @include rem-fallback(width, 126);
    float:left;
  }

  .menu-header-container{
    @include rem-fallback(padding-top,30);
  }

  .menu {
    ul {
      padding:0;
      margin:0;
      li {
        display: inline-block;
        float: left;
        list-style: none;
        padding: 0 0 0 5px;
        margin: 0;
      }
    }
  }

  .menuIcon {
    display: none;
    background: $color__pink;
    float:right;
    &:hover {
      background: $color__pink;
      color: $color__black;
    }
    a {
      padding:50px;
      float:right;
    }
  }

  &.home {
    .header-bar{
      @include rem-fallback(padding,45,90,45,90);
    }
    .title {
      clear:both;
      text-align: center;
      @include rem-fallback(padding-top, 65);
      @include rem-fallback(padding-bottom, 145);
    }
    .menu-wrapper{
      @include rem-fallback(padding-top, 45);
    }
    background: url('images/site_header_desktop.jpg') center;
    background-size: cover;
    img.logo {
      @include rem-fallback(width, 223);
    }
    @include rem-fallback(padding-bottom, 45);
    h2 {
      text-transform: uppercase;
      margin: 0 auto;
      color: white;
      font-family: $text__family--sans-serif--semibold;
      @include rem-fallback(max-width, 650);
      @include rem-fallback(font-size, $text__xlarge);
      @include rem-fallback(line-height, 70);
      @include rem-fallback(margin-bottom, 35);
    }
  }
}

@media only screen and (max-width: 900px) {
  header {

    .header-bar{
      @include rem-fallback(padding-left,0);
      @include rem-fallback(padding-right,0);
    }
    img.logo {
      @include rem-fallback(padding-left,45);
    }

    &.home {
      .header-bar{
        @include rem-fallback(padding,0);
      }
      img.logo {
        @include rem-fallback(padding,45,0,0,45);
      }
      .menu-header-container{
        @include rem-fallback(padding-top,45);
      }
    }
  }
}


@media only screen and (max-width: 767px) {
  header {

    .menu-wrapper{
      background-color: $color__pink;
    }

    .menu {
      max-height: 0;
      overflow: hidden;
      float: none;
      text-align: center;
      width: 100%;
      &.menuOpen {
        max-height: 1000px;
        @include transition(max-height 0.5s);
      }
      ul {
        li {
          display: block;
          width: 100%;
          background: $color__pink;
          border-top:1px solid $color__pink;
          &:hover {
            background: $color__black;
          }
          a {
            color: #fff;
            //text-shadow: #848484 0px 1px 2px;
            padding: 10px 0;
            width: 100%;
            &:hover {
              color: $color__white;
            }
          }
        }
      }
    }

    .menuIcon {
      display: inline-block;
    }

    .menuOpen{
      ul{
        @include rem-fallback(padding-bottom, 45);
      }
      li{
        @include rem-fallback(padding, 25,0,25,0);
        a {
          @include rem-fallback(font-size, 32);
          font-family: 'CooperHewitt-Book';
          display:block;
          border-bottom: none;
          @include rem-fallback(padding, 0);
        }
      }

      li.current-menu-item a{
        border-bottom: none;
      }
    }

    .header-bar {
      @include rem-fallback(padding-bottom, 15);
    }

    .menuIcon {

      @include rem-fallback(margin-right, 20);

    }

    &.home {
      img.logo {
        position: absolute;
        @include rem-fallback(padding,15,0,0,40);
      }

      .title{
        @include rem-fallback(padding,100,40,200,40);
      }

      .menu-wrapper{
        background-color: transparent;
        @include rem-fallback(padding, 0);
        &.active{
          background-color: $color__pink;
        }
      }

      ul#menu-header{
        display:none;
      }

      .active{
        ul#menu-header{
          display:block;
        }
      }



      h2 {
        @include rem-fallback(font-size,60);
        @include rem-fallback(line-height, 70);
      }

      .menuIcon {
        background-color: transparent;
        @include rem-fallback(margin, 30);
        &:hover, &:active, &:focus {
          background-color: transparent;
        }
      }
    }
  }
}




//NOTE: this element is created by wp_nav_menu()
.menu-header-container {
  float: right;
  @include rem-fallback(margin, 0, 0, 0, 0);

  ul {
    list-style: none;
    letter-spacing: 0px;
  }
  li {
    display: inline-block;
    padding:5px;
  }
  li a {
    color: $color__white;
    font-family: $text__family--sans-serif--medium;
    text-decoration: none;
    padding:1px;
    @include rem-fallback(margin-right, 20);
    @include rem-fallback(font-size, $text__small);

    &:hover, &:active {
      color: $color__black;
    }
  }
  li.current-menu-item a {
    border-bottom: 2px solid $color__white;
    &:hover, &:active {
      color: $color__white;
    }
  }
}

@media only screen and (max-width: 767px) {
  .menu-header-container {
    float: none;
  }
}

@media only screen and (max-width: 567px) {
  header {

    img.logo {
      @include rem-fallback(padding-left, 30);
    }

    &.home {
      img.logo {

        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        @include rem-fallback(padding, 40, 0, 0, 0);
      }
      .title{
        @include rem-fallback(padding,115,40,100,40);
        .button{
          display:block;
        }
      }
    }
  }
}