.language-selector {
  padding: 0;
  @include rem-fallback(padding-bottom, $text__small);
  @include rem-fallback(font-size, $text__small);
  color: $color__pink;
  text-align: center;

  > .pure-g {
    margin-bottom: 0;
  }
}

.language-selector__link {
  color: $color__pink;
  margin: 0 0.5em;

  &.is-active, &:hover, &:focus {
    border-bottom: 2px solid $color__pink;
  }
}
