.open-call-cta {
  @include rem-fallback(padding, 84, 0);
}

.section--helpdesk {
  color: $color__white;
  background-color: $color__pink;
  @include rem-fallback(padding, 84, 0);
}

.helpdesk__content {
  @include rem-fallback(padding-left, 30);
  @include rem-fallback(padding-right, 30);
  @include rem-fallback(max-width, 500);
  margin: 0 auto;
  text-align: center;
}

.helpdesk__heading {
   color: inherit;
   margin: 0;
   @include rem-fallback(margin-bottom, 24);
}

.helpdesk__detail {
  color: inherit;
  margin: 0;
  @include rem-fallback(margin-bottom, 36);
}

.helpdesk__button {
  // weird bug where if this element renders offscreen (i.e. you're not looking
  // at it) in IE10, it collapses all the text. Doesn't happen in IE9 or IE11 so
  // we'll just hack around it.
  // Even worse: simply overriding the property doesn't seem to fix the issue,
  // we need to not touch it in the first place. Hence the `:not()` selector.
  // See organicity.js for where this data-useragent comes from.
  html:not([data-useragent*='MSIE 10.0']) & {
    display: inline-block;
  }
}
