.tools-page__coming-soon {
  text-align: center;
  @include rem-fallback(padding-top, 60);
  @include rem-fallback(max-width, 995);
  margin: 0 auto;

  @media only screen and (max-width: 767px) {
    @include rem-fallback(padding-left, 30);
    @include rem-fallback(padding-right, 30);
  }
}

.tools-page__coming-soon-title {
  color: $color__grey--title;
  @include rem-fallback(font-size, $text__mlarge);
}

.tools-page__coming-soon-body {
  @include rem-fallback(padding-bottom, 48);
  @include rem-fallback(max-width, 640);
  margin-left: auto;
  margin-right: auto;
}

.tools-page__previews {
  @include rem-fallback(max-width, 995);
  @include rem-fallback(padding-bottom, 120);
  margin: 0 auto;
  opacity: 1;

  @media only screen and (max-width: 767px) {
    @include rem-fallback(padding-top, 0);
  }
}

.tools-page__preview-row {
  &:after { // clearfix
    content: "";
    display: table;
    clear: both;
  }
}

.section--title--tools-page {
  @media only screen and (max-width: 767px) {
    padding-bottom: 0;
  }
}

.section--tools-description{
  background-color: $color__white;
  @include rem-fallback(padding-top, 0);
  @include rem-fallback(padding-bottom, 0);

  .section--tools-description__content-wrapper {
    @include rem-fallback(padding-top, 0);
  }
}
